.page{
    position: absolute;
    width: 1445px;
    height: 4759px;
    background: #ffffff;
    font-family:'Gilroy Bold', sans-serif;

}

.container {
    width: 1445px;
    margin: 0 auto;
}

.header{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

a {
    color: #828282;
    padding: 14px 16px;
    text-decoration: none;
}
.home {
    position: relative;
    left: 16.6%;
    top: 0.2%;
    color: #070707;
    font-weight:bold;
}

.aboutMe {
    position: relative;
    left: 25%;
    top: 0.2%;
}

.Skills {
    position: relative;
    left: 35%;
    top: 0.2%;
    
}

.Portfolio {
    position: relative;
    left: 45%;
    top: 0.2%;
}

.Contacts {
    position: relative;
    left: 53%;
    top: 0.2%;
}

.border {
    position: relative;
    width: 940.6px;
    left: 17.5%;
    top: 0.55%;
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

h1 {
    position: relative;
    left: 17.37%;
    right: 74.08%;
    top: 0.7%;
    bottom: 94.82%;
    font-size: 47.3392px;
    line-height: 59px;
}

p {
    position: relative;
    left: 48%;
    top: -0.9%;
    color: #070707;
}

b {
    color: #070707;
}

.translater {
    position: relative;
    left: 32.4%;
    top: -17.4%;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
}

.valentinsalja {
    position: relative;
    width: 943.61px;
    height: 387px;
    left: 250.69px;
    top: -1.7%;

}

.aboutme {
    position: relative;
    width: 1445px;
    height: 506px;
    left: 0px;
    top: 768px;
}

.Aboutme {
    position: relative;
    left: 1%;
    top: 24%;
    bottom: 80.43%;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;

}

.text {
    position: relative;
    width: 1445px;
    height: 506px;
    top: 700px;
    font-family: 'Gilroy Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    background: #F6F6F6;

}

.text p {
    top: 24.5%;
    left: 1.6%;
}
 
.skills {
    position: relative;
    left: 1%;
    top: 780px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    font-family: 'Gilroy Bold', sans-serif;
}

.programs {
    position: relative;
    left: 1%;
    top: 780px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;

}
.PhotoShop {
    width: 89,07px;
    height: 88,41px;
    position: relative;
    left: 22.7%;
    top: 850px;
    background: radial-gradient(75.99% 75.64% at 32.94% 22.44%, rgba(52, 54, 78, 0.98) 0%, #0C0824 100%);
}

.AfterIllustrator {
    position: relative;
    left: 40%;
    top: 725px;
    background: radial-gradient(76% 75.63% at 32.97% 22.44%, rgba(66, 51, 37, 0.98) 0%, #1C0A00 100%);
}

.AfterEffects {
    position: relative;
    left: 57%;
    top: 601px;
    background: radial-gradient(76% 75.63% at 32.97% 22.42%, rgba(68, 47, 85, 0.98) 0%, #12002C 100%);
}

.figma {
    position: relative;
    left: 74.5%;
    right: 63.47%;
    top: 477px;
    bottom: 65.22%;
    background: #31C5F0;
}

.PhotoShoptext{
    position: relative;
    left: -24.5%;
    top: 874px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.AfterIllustratortext{
    position: relative;
    left: -7.1%;
    top: 753px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.AfterEffectstext{
    position: relative;
    left: 10%;
    top: 631px;
    bottom: 64.14%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.figmatext{
    position: relative;
    left: 27%;
    top: 510px;
    bottom: 64.14%;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.starforPs1 {
    position: relative;
    left: 20.2%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforPs2 {
    position: relative;
    left: 21%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforPs3 {
    position: relative;
    left: 21.7%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforPs4 {
    position: relative;
    left: 22.5%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforPs5 {
    position: relative;
    left: 23.2%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAi1 {
    position: relative;
    left: 29.2%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAi2 {
    position: relative;
    left: 30%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAi3 {
    position: relative;
    left: 30.7%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAi4 {
    position: relative;
    left: 31.6%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAi5 {
    position: relative;
    left: 32.3%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAe1 {
    position: relative;
    left: 37.8%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAe2 {
    position: relative;
    left: 38.7%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAe3 {
    position: relative;
    left: 39.6%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAe4 {
    position: relative;
    left: 40.4%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforAe5 {
    position: relative;
    left: 41.3%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforF1 {
    position: relative;
    left: 47%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforF2 {
    position: relative;
    left: 47.9%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforF3 {
    position: relative;
    left: 48.8%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforF4 {
    position: relative;
    left: 49.6%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.starforF5 {
    position: relative;
    left: 50.5%;
    top: 560px;
    background: #070707;
    border-radius: 1px;
}

.PortfolioFiles{
    position: relative;
    height: 2253px;
    width: 1445px;
    top: 645px;
    background: #F6F6F6;
}

.Portfoliophoto {
    position: relative;
    width: 936.24px;
    height: 510px;
    top: 140px;
    left: 245px;
}

.Port {
    position: relative;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    top: 115px;

}
.portname {
    width: 276,15px;
    height: 22,03px;
    position: relative;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    top: 180px;
}

.reebok {
    position: relative;
    width: 936.24px;
    height: 510px;
    top: 270px;
    left: 245px;
}

.reebokname {
    width: 276,15px;
    height: 22,03px;
    position: relative;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    top: 310px;
}

.BraunLanding {
    position: relative;
    width: 936.24px;
    height: 510px;
    top: 410px;
    left: 245px;
}

.BraunLandingname {
    width: 276,15px;
    height: 22,03px;
    position: relative;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    top: 450px;
}

.ContactInfo {
    position: relative;
    left: -8px;
    top: 730px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 30px;
    line-height: 42px;
    font-weight: bold;
    text-align: center;
    color: #070707;
}

.info {
    position: relative;
    left: -8px;
    top: 740px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;

}

.button {
    position: relative;
    width: 166px;
    height: 35px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    top: 750px;
    left: 630px;
}

.LinkedIn {
    width: 40px;
    height: 40px;
    position: relative;
    left: 380px;
    top: 900px;
    background: #070707;
}

.Instagram {
    width: 40px;
    height: 40px;
    position: relative;
    left: 430px;
    top: 900px;
    background: #070707;
}

.Behance {
    width: 40px;
    height: 40px;
    position: relative;
    left: 480px;
    top: 900px;
    background: #070707;
}

.Dribble {
    width: 40px;
    height: 40px;
    position: relative;
    left: 530px;
    top: 900px;
    background: #070707;
}

.like {
    position: relative;
    left: -5px;
    top: 950px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
} 